.vjs-default-skin .vjs-big-play-button {
    border: none !important;
    outline: none !important;
    background: url("../img/play.png") no-repeat center;
}

.vjs-default-skin .vjs-big-play-button:before, .vjs-default-skin .vjs-big-play-button:after, .vjs-default-skin .vjs-loading-spinner:before, .vjs-default-skin .vjs-loading-spinner:after {
    content: none !important;
}