html,body {
    height:100%;
    margin:0;
    padding:0;
    font-family: Arial;
    background: #000000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;-moz-user-select: none;-webkit-user-select: none;
}

div.slide-1{position: absolute; width: 100%; height: 2743px; background: url("../img/bg/1-1.jpg") no-repeat center;z-index: 0}
div.slide-2{position: absolute; width: 100%; height: 1290px; background: url("../img/bg/2.jpg") no-repeat center; top:2743px;z-index: 2}
div.slide-3{position: absolute; width: 100%; height: 1733px; background: url("../img/bg/3.jpg") no-repeat center; top: 4033px;z-index: 5}
div.slide-3-1{position: absolute; width: 100%; height: 1733px; background: url("../img/bg/3-1.jpg") no-repeat center; top: 4033px;z-index: 6; display: none}
div.slide-4{position: absolute; width: 100%; height: 2030px; background: url("../img/bg/4.jpg") no-repeat center top; top: 5766px;z-index: 7}
div.slide-4-1{position: absolute; width: 100%; height: 2030px; background: url("../img/bg/4-1.jpg") no-repeat center top; top: 5766px;z-index: 8; display: none;}
div.slide-4-2{position: absolute; width: 100%; height: 2030px; background: url("../img/bg/4-2.jpg") no-repeat center top; top: 5766px;z-index: 9; display: none;}

div.leaves{position: absolute; width: 100%; height: 2122px; background: url("../img/leaves.png") no-repeat center; top:2170px;z-index: 3;}
div.leaves-top{position: absolute; width: 90%; top: 3570px; height: 668px; background: url("../img/leaves-top.png") no-repeat right;z-index: 5;}

div.men-1{position: absolute; right: 0; z-index: 1; top: 540px; height: 3545px; width: 1127px; background: url("../img/men/men-1.png") no-repeat;}
div.men-2{position: absolute; left: 0; z-index: 4; top: 3590px; height: 1336px; width: 1529px; background: url("../img/men/men-2.png") no-repeat right;left:0;}

div.info-start{position: absolute; z-index: 2; top: 140px; left: 50%; margin-left: -497px; width: 994px; height: 307px; background: url("../img/start-info.png") no-repeat;}
div.info-1{position: absolute; z-index: 1; top: 970px; left: 30%; margin-left: -292px; width: 585px; height: 410px; background: url("../img/info/info-1.png") no-repeat 145px 170px;}
div.info-2{position: absolute; z-index: 4; top: 1590px; left: 30%; margin-left: -292px; width: 585px; height: 550px; background: url("../img/info/info-2.png") no-repeat 138px 300px;}
div.info-2-2{position: absolute; z-index: 10; top: 3500px; left: 70%; margin-left: -292px; width: 585px; height: 210px;}
div.info-3{position: absolute; z-index: 5; top: 4170px; left: 60%; margin-left: -185px; width: 370px; height: 236px; background: url("../img/info/info-3.png") no-repeat 65px 0;}
div.info-4{position: absolute; z-index: 7; top: 6000px; left: 70%; margin-left: -292px; width: 585px; height: 410px; background: url("../img/info/info-4.png") no-repeat 55px 165px;}
div.info-5{position: absolute; z-index: 10; top: 8000px; left: 50%; margin-left: -347px; width: 695px; height: 700px;}

div.info-start-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 185px;}
div.info-1-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 320px;}
div.info-2-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 440px;}
div.info-3-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 85px;}
div.info-4-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 310px;}
div.info-5-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 340px;}

div.video-container{background: #465054; padding: 1px;width: 280px; height: 125px; float: left; margin-right: 15px;}
div.video-container-big{background: #465054; padding: 1px;width: 577px; height: 257px; float: left}
div.video-container-bigxx{background: #465054; padding: 1px;width: 695px; height: 310px;; float: left}
div.vc-last{margin-right: 0;}

div#top_menu{width: 100%; position: fixed; height: 58px; top:-58px; background: #969898; z-index: 1000; border: 1px solid #787672;}
img.logo{float: right; margin: 17px 25px 0 0; cursor: pointer}
img.steps{float: left;margin: 17px 0 0 25px;}

div.menu-item-first{}
div.menu-item{height: 58px; border-right: #787672 1px solid; float: left; width: 180px;}
div.menu-item:hover{background: #787673}
div.menu-item span{font-size: 13px; line-height: 11px;margin: 30px 0 0 15px;cursor: pointer;display: block; background: url("../img/menu-marker.png") no-repeat 0 1px; padding-left: 11px; color: #ffffff; font-weight: bold; text-decoration: none;}

#preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-28px 0 0 -154px;
    width: 308px;
    height: 56px;
    background: transparent url('../img/preloader.png') left top no-repeat;
    z-index: 20;
    /*display:none;*/
}

#preloader div {
    width: 1px;
    height: 56px;
    background: transparent url('../img/preloader.png') left bottom no-repeat;
}

div#preload_img{width: 1px; height: 1px; position: absolute; overflow: hidden; visibility: hidden;}

div#content{visibility: hidden}

div.arrow-down{background: url("../img/button-down.png") no-repeat; width: 101px; height: 46px; cursor: pointer;position: absolute}
div.arrow-up{background: url("../img/button-up.png") no-repeat 0px 20px; width: 116px; height: 66px; cursor: pointer}
div.arrow-down-start{margin-top: 245px; margin-left: 465px;}
div.arrow-down-info-1{margin: 370px 0 0 232px;position: absolute}
div.arrow-down-info-2{margin: 498px 0 0 232px; position: absolute}
div.arrow-down-info-2-2{margin: 166px 0 0 239px; position: absolute}
div.arrow-down-info-3{margin: 135px 0 0 135px; position: absolute}
div.arrow-down-info-4{margin: 360px 0 0 232px; position: absolute}
div.arrow-down-info-5{margin: 610px 0 0 297px; position: absolute;top: 0;}

div.console-ipad{width: 100px; height: 100px; background: #ffffff; position: fixed; z-index: 900000000000;}

img.last_logo{margin-top: 40px; margin-left: 10px; border: none}
img.logo_goto{cursor: pointer}


div.on{
    float: left;
    width: 24px;
    height: 16px;
    margin-left: 20px;
    margin-top: 27px;
    cursor: pointer;
    background: url('../img/audio-on.gif') left bottom no-repeat;
    display: none;
}

div.off{
    float: left;
    width: 24px;
    height: 16px;
    margin-left: 20px;
    margin-top: 27px;
    cursor: pointer;
    background: url('../img/audio-off.png') left bottom no-repeat !important;
}


div.audiojs{ float: left !important;margin-left: 20px !important; margin-top: 27px !important; width: 30px  !important; height: 20px  !important; background: none !important; box-shadow: none !important;
-webkit-box-shadow: none !important;-moz-box-shadow:none !important; -o-box-shadow: none !important;}
div.scrubber{display: none !important;}
div.time{display: none !important;}
div.error-message{display: none !important;}
.audiojs .play-pause{padding: 0 !important; border: none !important; height: 16px !important;}
.audiojs .play{background: url('../img/audio-off.png') left bottom no-repeat !important; height: 16px !important;}
.audiojs .pause{background: url('../img/audio-on.gif') left bottom no-repeat !important; height: 16px !important;}

img.hidder-play{position: absolute; width: 50px; height: 50px; border: none; z-index: 10001; margin-top: 10px; display: none;top: 0;left: 182px;}

div#mobile{display: none}