div#content{display: none}
div.audiojs{display: none}
div.menu-item{width: 100px; height: 45px;}
div.menu-item span{margin-top: 19px; font-size: 0.7em}
div#mobile{width: 100%; height:6500px; font-size: 0.7em;  -webkit-background-size:contain;}
div.mobile-portrait{background: url("/assets/img/mobile/bg.jpg") no-repeat;}
div.mobile-landscape{background: url("/assets/img/mobile/bg-landscape.jpg") no-repeat;}

div#mobile-info-1{width: 70%; top: 150px; height: 375px; left: 50%; margin-left: -35%; position: absolute;}
div#mobile-info-1 .info-header{ background: url("/assets/img/mobile/info-bg-1.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 200px;}
div#mobile-info-1 .info-text{text-align: center; color: #bcbcbc;}

div#mobile-info-2{width: 90%; top: 1670px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
div#mobile-info-2 .info-header{ background: url("/assets/img/mobile/info-bg-2.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 500px;}
div#mobile-info-2 .info-text{text-align: center; color: #969898;}

div#mobile-info-3{width: 90%; top: 2865px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
div#mobile-info-3 .info-header{ background: url("/assets/img/mobile/info-bg-3.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 500px;}
div#mobile-info-3 .info-text{text-align: center; color: #ffffff;}

div#mobile-info-4{width: 90%; top: 4000px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
div#mobile-info-4 .info-header{ background: url("/assets/img/mobile/info-bg-4.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 445px;}
div#mobile-info-4 .info-text{text-align: center; color: #969898;}

div#mobile-info-5{width: 90%; top: 5068px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
div#mobile-info-5 .info-header{ background: url("/assets/img/mobile/info-bg-5.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 500px;}
div#mobile-info-5 .info-text{text-align: center; color: #969898;}

div#mobile-info-6{width: 70%; top: 5877px; left: 50%; margin-left: -35%; position: absolute;}
div#mobile-info-6 .info-header{ background: url("/assets/img/mobile/logo.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 156px;}
div#mobile-info-6 .info-text{text-align: center;}

div#top_menu{height: 45px;}
img.logo{margin-right: 20px;}