@media only screen and (device-width: 768px) {
    div.leaves-top{display: none}

    div.info-start{-webkit-background-size:contain;background: url("/assets/img/start-info.png") no-repeat;}

    div.slide-1{-webkit-background-size:contain;background: url("/assets/img/bg/1.jpg") no-repeat;}
    div.slide-2{-webkit-background-size:contain;background: url("/assets/img/bg/2.jpg") no-repeat;}
    div.slide-3{-webkit-background-size:contain;background: url("/assets/img/bg/3.jpg") no-repeat;}
    div.slide-3-1{-webkit-background-size:contain;background: url("/assets/img/bg/3-1.jpg") no-repeat;}
    div.slide-4{-webkit-background-size:contain;background: url("/assets/img/bg/4-1.jpg") no-repeat;}
    div.slide-4-1{-webkit-background-size:contain;background: url("/assets/img/bg/4-1.jpg") no-repeat;}
    div.slide-4-2{-webkit-background-size:contain;background: url("/assets/img/bg/4-2.jpg") no-repeat;}

    div.men-1{-webkit-background-size:contain;background: url("/assets/img/men/men-1-ipad.png") no-repeat;}
    div.men-2{-webkit-background-size:contain;background: url("/assets/img/men/men-2.png") no-repeat;}

    div.info-1{left: 40%; background: none; width: 430px;}
    div.info-1 div.video-container{width: 200px !important; height: 90px !important;}
    div#video_1, div#video_2{width: 200px !important; height: 90px !important;}
    div.info-1-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 170px;}
    div.arrow-down-info-1{margin: 205px 0 0 159px;position: absolute}
    div.info-1-header{width: 200px; -webkit-background-size:contain; background: url("/assets/img/info/info-1.png") no-repeat; height: 50px; position: absolute; margin: 110px 0 0 145px;}

    div.info-2{width: 420px; left: 40%; background: none}
    div.info-2 div.video-container-big{width: 415px !important; height: 185px !important;}
    div#video_3{width: 415px !important; height: 185px !important;}
    div.info-2-header{width: 200px; -webkit-background-size:contain; background: url("/assets/img/info/info-2.png") no-repeat; height: 50px; position: absolute; margin: 205px 0 0 145px;}
    div.info-2-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 265px;}
    div.arrow-down-info-2{margin: 310px 0 0 158px;position: absolute}

    div.info-2-2{background: none; left: 80%; width: 420px;}
    div.info-2-2 div.video-container{width: 200px !important; height: 90px !important;}
    div#video_4, div#video_5{width: 200px !important; height: 90px !important;}
    div.arrow-down-info-2-2{margin: 115px 0 0 160px; position: absolute}

    div.info-3{background: none; width: 140px; left: 75%;}
    div.info-3-header{width: 130px; -webkit-background-size:contain; background: url("/assets/img/info/info-3.png") no-repeat; height: 50px; position: absolute; margin-left: 5px;}
    div.info-3-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 45px;}
    div.arrow-down-info-3{margin: 110px 0 0 24px; position: absolute}

    div.info-4{background: none; left: 80%; width: 420px;z-index: 20}
    div.info-4 div.video-container{width: 200px !important; height: 90px !important;}
    div#video_6, div#video_7{width: 200px !important; height: 90px !important;}
    div.info-4-header{width: 200px; -webkit-background-size:contain; background: url("/assets/img/info/info-4.png") no-repeat; height: 50px; position: absolute; margin: 110px 0 0 115px;}
    div.info-4-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 170px;}
    div.arrow-down-info-4{margin: 200px 0 0 162px;position: absolute}

    div.info-5{display: block; height: 800px;}

    div.info-start{width: 700px; margin-left: -350px;}
    div.arrow-down-start{margin-top: 200px; margin-left: 305px;}
    div.info-start-descr{font-size: 13px; color: #bcbcbc; text-align: center; width: 100%; margin-top: 125px;}

    div.audiojs{display: none}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    div.info-start{top: 80px;}

    div.info-1{top: 380px;}
    div.info-2{top: 660px;}
    div.info-2-2{top: 1150px;}
    div.info-3{top: 1620px;}
    div.info-4{top: 2260px;}
    div.info-5{top: 3000px;}

    div.slide-1{height: 1200px;}
    div.slide-2{height: 502px; top: 1300px;}
    div.slide-3, div.slide-3-1, div.slide-3-2{height: 665px; top:1802px;}
    div.slide-4, div.slide-4-1, div.slide-4-2{height: 891px; top:2457px;}
    div.men-1{width: 308px; height: 1022px; top: 330px}
    div.men-2{width: 588px; height: 514px; top: 1330px}

    div.leaves{top:840px;-webkit-background-size:contain;background: url("/assets/img/leaves.png") no-repeat;}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    div.info-start{top: 80px;}

    div.info-1{top: 480px;}
    div.info-2{top: 760px;}
    div.info-2-2{top: 1500px;}
    div.info-3{top: 2100px;}
    div.info-4{top: 2950px;}
    div.info-5{top: 3850px;}

    div.slide-1{height: 1599px;}
    div.slide-2{height: 669px; top: 1650px;}
    div.slide-3, div.slide-3-1, div.slide-3-2{height: 887px; top:2317px;}
    div.slide-4, div.slide-4-1, div.slide-4-2{height: 1188px; top:3190px;}
    div.men-1{width: 400px; height: 1047px; top: 380px}
    div.men-2{width: 743px; height: 650px; top: 1700px}

    div.leaves{top:1050px;-webkit-background-size:contain;background: url("/assets/img/leaves.png") no-repeat;}

}

@media only screen and (max-device-width: 480px) {
    div#content{display: none}
    div.audiojs{display: none}
    div.menu-item{width: 100px; height: 45px;}
    div.menu-item span{margin-top: 19px; font-size: 0.7em}
    div#mobile{width: 100%; height:6500px; -webkit-background-size:contain; font-size: 0.7em}
    div.mobile-portrait{background: url("/assets/img/mobile/bg.jpg") no-repeat;}
    div.mobile-landscape{background: url("/assets/img/mobile/bg-landscape.jpg") no-repeat;}

    div#mobile-info-1{width: 70%; top: 150px; height: 375px; left: 50%; margin-left: -35%; position: absolute;}
    div#mobile-info-1 .info-header{ background: url("/assets/img/mobile/info-bg-1.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 200px;}
    div#mobile-info-1 .info-text{text-align: center; color: #bcbcbc;}

    div#mobile-info-2{width: 90%; top: 1670px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
    div#mobile-info-2 .info-header{ background: url("/assets/img/mobile/info-bg-2.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 500px;}
    div#mobile-info-2 .info-text{text-align: center; color: #969898;}

    div#mobile-info-3{width: 90%; top: 2865px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
    div#mobile-info-3 .info-header{ background: url("/assets/img/mobile/info-bg-3.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 500px;}
    div#mobile-info-3 .info-text{text-align: center; color: #ffffff;}

    div#mobile-info-4{width: 90%; top: 4000px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
    div#mobile-info-4 .info-header{ background: url("/assets/img/mobile/info-bg-4.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 445px;}
    div#mobile-info-4 .info-text{text-align: center; color: #969898;}

    div#mobile-info-5{width: 90%; top: 5068px; height: 600px; left: 50%; margin-left: -45%; position: absolute;}
    div#mobile-info-5 .info-header{ background: url("/assets/img/mobile/info-bg-5.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 500px;}
    div#mobile-info-5 .info-text{text-align: center; color: #969898;}

    div#mobile-info-6{width: 70%; top: 5877px; left: 50%; margin-left: -35%; position: absolute;}
    div#mobile-info-6 .info-header{ background: url("/assets/img/mobile/logo.png") no-repeat;  -webkit-background-size:contain;width: 100%; height: 156px;}
    div#mobile-info-6 .info-text{text-align: center;}

    div#top_menu{height: 45px;}
    img.logo{margin-right: 20px;}
}